
blockquote {
  font-style: italic;
  margin-left: 32px;
  font-family: Georgia, "Times New Roman", serif;
}

pre {
	color: #515151;
	background-color: #e6e6e6;
}

code {
	background-color: #e6e6e6;
}